@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  /* background-image: url("C:\Users\tanmo\Documents\git-project\hackathon\allstars-hackathon1\hackathon-pop-quiz-build-1.0.1\pop-quiz-1.0.1\src\css\background.webp"); */
  background-color: aquamarine;
}
#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.name {
  
 padding-left: 150px;
 padding-top: 50px;
}
p {
  margin: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

 .nav {
  float: left;
  
}
/* .op {
  display: flex;

} */

ul{
   position: relative;
  padding-left:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  
}  
/* a:not([data-attr="img"]) */
/* li{
   background-color: white; 
  border-radius: .3em;
  width: 30%;
  flex: 0 0 0;/* added 
} */
* {
  box-sizing: border-box;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}